<app-titulo [titulo]="'Perfil'"></app-titulo>
<div class="card rounded-shadow">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select class="form-control" formControlName="titulo"
            [ngClass]="{'is-invalid':f.titulo.errors && f.titulo.touched } "
            >
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Tecnólogo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="PosGraduado">Pós Graduado(a)</option>
              <option value="Mestre">Mestre</option>
              <option value="Doutor">Doutor(a)</option>
              <option value="PosDoc">Pós Doc</option>
            </select>
            <div *ngIf="f.titulo.errors?.required"
            class="invalid-feedback">
              Título é Obrigatório!
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="pNome"
            [ngClass]="{'is-invalid':f.pNome.errors && f.pNome.touched } "
            />
            <div *ngIf="f.pNome.errors?.required"
            class="invalid-feedback">
              Nome é Obrigatório!
            </div>
            <div *ngIf="f.pNome.errors?.minlength && f.pNome.touched"
            class="invalid-feedback">
              Nome deve ser maior que 3 caracteres!
            </div>
            <div *ngIf="f.pNome.errors?.maxlength && f.pNome.touched"
            class="invalid-feedback">
              Nome deve ser menor que 50 caracteres!
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="uNome"
            [ngClass]="{'is-invalid':f.uNome.errors && f.uNome.touched } "
            />
            <div *ngIf="f.uNome.errors?.required"
            class="invalid-feedback">
              Último Nome é Obrigatório!
            </div>
            <div *ngIf="f.uNome.errors?.minlength && f.uNome.touched"
            class="invalid-feedback">
              Último Nome deve ser maior que 3 caracteres!
            </div>
            <div *ngIf="f.uNome.errors?.maxlength && f.uNome.touched"
            class="invalid-feedback">
              Último Nome deve ser menor que 50 caracteres!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email"
            [ngClass]="{'is-invalid':f.email.errors && f.email.touched } "
            />
            <div *ngIf="f.email.errors?.required"
            class="invalid-feedback">
              E-mail é Obrigatório!
            </div>
            <div *ngIf="f.email.errors?.email"
            class="invalid-feedback">
              E-mail deve ser válido!
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone"
            [ngClass]="{'is-invalid':f.telefone.errors && f.telefone.touched } "
            />
            <div *ngIf="f.telefone.errors?.required"
            class="invalid-feedback">
              Telefone é Obrigatório!
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-control" formControlName="funcao"
            [ngClass]="{'is-invalid':f.funcao.errors && f.funcao.touched } "
            >
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div *ngIf="f.funcao.errors?.required"
            class="invalid-feedback">
              Funcão é Obrigatório!
            </div>
          </div>
          <form-group class="col-12">
            <label>Descrição</label>
            <input type="text" class="form-control" formControlName="descricao"
            [ngClass]="{'is-invalid':f.descricao.errors && f.descricao.touched } "
            />
            <div *ngIf="f.descricao.errors?.required"
            class="invalid-feedback">
              Descrição é Obrigatório!
            </div>
            <div *ngIf="f.descricao.errors?.minlength"
            class="invalid-feedback">
              Descrição deve conter no minimo 3 caracteres!
            </div>
            <div *ngIf="f.descricao.errors?.maxlength"
            class="invalid-feedback">
              Descrição deve conter no máximo 200 caracteres!
            </div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="senha"
            [ngClass]="{'is-invalid':f.senha.errors && f.senha.touched } "
            />
            <div *ngIf="f.senha.errors?.required"
            class="invalid-feedback">
              Senha é Obrigatório!
            </div>
            <div *ngIf="f.senha.errors?.minlength"
            class="invalid-feedback">
              Senha deve conter no mínimo 3caracteres!
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="cSenha"
            [ngClass]="{'is-invalid':f.cSenha.errors && f.cSenha.touched } "
            />
            <div *ngIf="f.cSenha.errors?.required"
            class="invalid-feedback">
              Confirmar a Senha é Obrigatório!
            </div>
            <div *ngIf="f.cSenha.errors?.mustMatch"
            class="invalid-feedback">
              Senhas não conferem: Favor verificar!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
